*~
.*.swp
/.classpath
/.factorypath
/.idea/
/.project
/.settings
/WORKSPACE.user.bzl
/bazel-*
/bazel.iml
/output/
*~
.*.swp
app/.classpath
app/.factorypath
app/.idea/
app/.project
app/.settings
app/WORKSPACE.user.bzl
app/bazel-*
app/bazel.iml
app/output/
infra/.terraform
infra/plan
kube_config

tools

plan

